/* Paramètres généraux */

body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barre de navigation */

header {
    height: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nav-items-container {
    width: 350px;
    display: flex;
}

.nav-items {
    padding: 45px;
}

#highlighted {
    color: #2c7ffd;
    border-top: 2px solid #2c7ffd;
}

nav > img {
    scale: 50%;
}

/* Header */

#header-container {
    margin: 0 40px;
}

#header-container > h3 {
    margin-bottom: 0;
}

#barre-recherche-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
}

#icon-location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 39px;
    background: #e5e5e5;
    border-radius: 10px 0 0 10px;
}

#icon-location > img {
   scale: 30%;
}

#location {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 150px;
    height: 37px;
    border-top: #e5e5e5 solid 1px;
    border-bottom: #e5e5e5 solid 1px;
}

#location > h4 {
    margin-left: 10px;
}

#rechercher {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background: #0065fc;
    width: 120px;
    height: 39px;
    border-radius: 0 10px 10px 0;
}

#filter-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

#filter-container > div {
    padding: 8px;
}

#filter-container > div:not(:first-of-type) {
    margin: 0 10px;
    border: #d9d9d9 solid;
    border-radius: 30px;
}

#info-img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

#info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}